.hidden {
    display: none;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Comic Neue', cursive;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 !important;
}

.palette {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    padding-bottom : 40%;
    padding-top: 20%;
}

h1 {
    display: flex;
    justify-content: center;
}

label {
    font-size: 18pt;
}

.page-title {
    font-size: 45pt;
}

.current-palette {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.button, .confirm, .go-back {
    font-family: 'Comic Neue', cursive;
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all .5s ease;
    color:#000000;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 6px black;
}

.confirm, .go-back {
    font-size: small;
    margin: 3%;
}

button:hover {
    transition: 1s ease-in-out;
    background: rebeccapurple;
    cursor: pointer;
    color:white;
}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

.boxes {
    height: 150px;
    width: 150px;
    border: solid black 6px;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 6px black;
}

img{
    max-height: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.saved {
    font-size: 20pt;
    border-left: solid 5px;
    height: 800px;
    width: 20%;
}

.little-brick {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 4px black;
}

.to-go-box {
    padding: 0%;
}

.trash {
    margin-top: 4%;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border: none;
    background: none;
}

.lil-box-container{
    display: flex;
    margin-left: 8%;
}