html {
    height: 100%;
    width: 100%;
    font-family: 'Comic Neue', cursive;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 !important;
    position: absolute;
}

.palette {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    padding-bottom : 40%;
    padding-top: 20%;
}

h1 {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
}

label {
    font-size: 18pt;
}

.page-title {
    font-size: 45pt;
}

.current-palette {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.saved {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    border-left: solid 5px;
    height: 100%;
    width: 20%;
}

.button {
    font-size: 40pt;
    border-radius: 10px;
    font-family: 'Comic Neue', cursive;
    background: transparent;
    border: 6px solid #000000;
    outline: none;
    transition: 1s ease-in-out;
    box-shadow: 5px 5px;
}

.button:hover {
    transition: 1s ease-in-out;
    background: rebeccapurple;
    cursor: grab;
}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

.boxes {
    height: 150px;
    width: 150px;
    border: solid black 6px;
    margin: 2%;
    border-radius: 10px;
    object-fit: scale-down;
}

.color1 {
    background-color: rgb(202, 125, 207);
}

.color2 {
    background-color: rgb(128, 136, 162);
}

.color3 {
    background-color: blue;
}

.color4 {
    background-color: rgb(62, 149, 243);
}

.color5 {
    background-color: rgb(159, 94, 179);
}